<ion-tabs>
  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="dashboard">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Resum</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="comandes">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Comandes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="transactions">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Despeses</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="balance">
      <ion-icon name="scale-outline"></ion-icon>
      <ion-label>Quadrar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
